.wrapper{
	/*position: relative;*/
	width:  550px;
	margin: 0 auto;

}
.listing{
	position: relative;
	float: left;
	width: 550px;
	overflow: hidden;
}
.miniatures{
	position: relative;
	margin: 0 auto;
	width: 1000px;
	height: 100px;
	transition: all 1s ease-out;
}
.miniatures img{
	cursor: pointer;
	width: 137px;
	transition: all 1s ease-out;
}
.miniatures img:hover{
	opacity: .5;
	
}
.basicImg{
	position: relative;
	width: 550px;
	margin: 0 auto;
}
#bigImg{
	transition: all 1s ease-out;

}
#butLeft, #butRight{
	position: absolute;
	top: 35%;
	width: 30px;
	height: 35px;
	padding-top: 5px;
	/*border-radius: 50%;*/
	text-align: center;
	font-size: 27px; 
	background-color: #5f5d5db8;
	
}#butLeft:hover, #butRight:hover{
	background-color: #b7b7b7;
	transition: all 0.2s ease-out;
	cursor: pointer;
}
#butLeft{
	left: 0;
}
#butRight{
	right: 0;
}
